<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitSnitch</title>
  </head>
  <body>
    <h1>GitSnitch</h1>
    <%= button_to "Log in with Github".html_safe, user_github_omniauth_authorize_path, :id => "button" %>
    <%= button_to "Log out".html_safe, destroy_user_session_path, method: :delete, :id => "button" %>
    <% if @user %>
      <% @user.each do |link|%>
        <li><a href="<%=link["url"]%>" target="_blank"><%= link["url"] %></li></a>
        <li><%= link["fragment"] %></li><br>
      <% end %>
    <% end %>
  </body>
</html>
